:root{
  --bg-theme:#f8f1e7;
  --heading:#502314;
  --btn-color:#d62300;

}
.navbar-toggler{
  border: none;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--bg-theme);
}
.bg-custom-nav{
  background-color: var(--bg-theme);
}

.nav-head{
  color: var(--heading);
  font-size: 2em;
  font-family: 'Cooper Black';
  
}
.fa-user{
  font-size: 1.2em;
}


.btn-nav{
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: var(--btn-color);
}

.btn-nav:hover{
  background-color: #b52a0e;
}
.hero-heading{
  font-family: 'Cooper Black';
  font-style: normal;
  font-variant: normal;
  font-stretch:condensed;
  color: var(--heading);
}

.btn-hero-1{
  padding: 14px;
  width: 80%;
  border: none;
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 40px;
}
.btn-hero-1:hover{
  background-color: #b52a0e;
}

.btn-hero-2{
  padding:14px;
  width: 80%;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 40px;
}

.btn-hero-2:hover{
  background-color: rgb(243, 218, 218);
}

/*Girds*/

.width{
  margin: 0 auto;
  width: 80%;
}
.height{
  height: 60vh;
}
.rounded{
  border-radius: 10px !important;
}

.col-heading{
  color: var(--heading);
  font-weight: bold;
  font-family: sans-serif;
}
.col-para{
  font-weight: 500;
  color: var(--heading);
  word-spacing: normal;
  font-size: 0.9em;
}



/*Footer*/

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  left: 0;
  background-color: var(--bg-theme);
}

.footer-icons{
  cursor: pointer;
  align-items: center;
  align-content: center;
  width: 20px;
  height: 20px;
}
.footer-links{
  cursor: pointer;
  list-style: none;
}

.active{
  font-weight: bold;
}
