:root {
  --bg-theme: #f8f1e7;
  --heading: #502314;
  --btn-color: #d62300;
  --btn-hover: #e5dedc;
}

.navbar-toggler {
  border: none;
}

* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: var(--bg-theme);
}

.bg-custom-nav {
  background-color: var(--bg-theme);
}

.nav-head {
  color: var(--heading);
  font-size: 2em;
  font-family: 'Cooper Black';

}

.fa-user {
  font-size: 1.2em;
}


.btn-nav {
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: var(--btn-color);
}

.btn-nav:hover {
  background-color: #b52a0e;
}

.hero-heading {
  font-family: 'Cooper Black';
  font-style: normal;
  font-variant: normal;
  font-stretch: condensed;
  color: var(--heading);
}

.btn-hero-1 {
  padding: 14px;
  border: none;
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 40px;
}

.btn-hero-1:hover {
  background-color: #b52a0e;
}

.btn-hero-2 {
  padding: 14px;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 40px;
}

.btn-hero-2:hover {
  background-color: #e9e2d8;
}

/*Girds*/

.width {
  margin: 0 auto;
  width: 80%;
}

.height {
  height: auto;
}

.rounded {
  border-radius: 10px !important;
}

.col-heading {
  color: var(--heading);
  font-weight: bold;
  font-family: sans-serif;
}

.col-para {
  font-weight: 500;
  color: var(--heading);
  word-spacing: normal;
  font-size: 0.9em;
}

.sub-heading {
  cursor: pointer;
  text-decoration: underline;
}

.btn-order {
  font-family: sans-serif;
  color: var(--heading);
  font-weight: bold;
  border: 1px solid black;
  padding: 10px 20px;
  background: transparent;
  border-radius: 20px;
}

.btn-order:hover {
  background-color: var(--btn-hover);
}
.badge-1,
.badge-2 {
  cursor: pointer;
  width: 60%; /* Adjust width relative to the container */
  max-width: 200px; /* Limit maximum width */
  height: auto; /* Maintain aspect ratio if needed */
}
.offer-para{
  width: 90%;
  word-spacing: normal;
  font-family: 'Flame', sans-serif;
  color: var(--heading);                
}
.bg-custom{
  background-color: #eee8de;
}

.copyright{
  width: 100% !important;
  height:14vh;
  background-color: var(--heading);
}
.copyright p{
  font-weight: 600;
  color: #e7dcd2;
  font-size: 0.8em;
}
span{
  text-decoration: underline;
}
/*Footer*/

.footer {
  border-top: 1px solid #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  left: 0;
  background-color: var(--bg-theme);
}

.footer-icons {
  cursor: pointer;
  align-items: center;
  align-content: center;
  width: 20px;
  height: 20px;
}

.footer-links {
  cursor: pointer;
  list-style: none;
}

.active {
  font-weight: bold;
}



@media (max-width: 768px) {
  .badge-1 {
    height: 52px;
    width: 150px;
  }

  .badge-2 {
    height: 75px;
    width: 180px;
  }
}
@media (max-width:400px){
  .footer{
    justify-content: space-between !important;
    padding: 0 6px;
  }
  .footer-icons {
    width: 16px ;
    height: 16px ;
  }
  .copyright p{
    font-size: 0.65em;
  }
  .btn-order{
    padding: 6px 10px;
  }
  
}

@media (min-width: 1024px) {
  .badge-1 {
    height: 55px;
    width: 180px;
  }

  .badge-2 {
    height: 78px;
    width: 180px;
  }
}

